.container {
    max-width: 600px;
    margin: 50px auto; 
    padding: 20px;
    background-color: rgb(196, 196, 196);
    border-radius: 12px;
  }
  
  .title {
    text-align: center;
    color: rgb(20, 31, 42);
  }